<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newland.paas.paasdatamodule.sysmgrdatamodule.dao.SysCategoryGrantMapper" >
  <resultMap id="BaseResultMap" type="com.newland.paas.paasdatamodule.sysmgrdatamodule.model.SysCategoryGrant" >
    <id column="CATEGORY_GRANT_ID" property="categoryGrantId" jdbcType="DECIMAL" />
    <result column="CATEGORY_ID" property="categoryId" jdbcType="DECIMAL" />
    <result column="OBJ_TYPE" property="objType" jdbcType="VARCHAR" />
    <result column="OPERATES" property="operates" jdbcType="VARCHAR" />
    <result column="GROUP_ID" property="groupId" jdbcType="DECIMAL" />
    <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="CHANGE_DATE" property="changeDate" jdbcType="TIMESTAMP" />
    <result column="CREATOR_ID" property="creatorId" jdbcType="DECIMAL" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="And_Del_Flag_0" >
      and DEL_FLAG = 0
  </sql>
  <sql id="Where_Clause" >
    <where >
      <include refid="And_Del_Flag_0" />
      <if test="categoryId != null" >
         and CATEGORY_ID = #{categoryId,jdbcType=DECIMAL}
      </if>
      <if test="objType != null" >
         and OBJ_TYPE = #{objType,jdbcType=VARCHAR}
      </if>
      <if test="operates != null" >
         and OPERATES = #{operates,jdbcType=VARCHAR}
      </if>
      <if test="groupId != null" >
         and GROUP_ID = #{groupId,jdbcType=DECIMAL}
      </if>
      <if test="tenantId != null" >
         and TENANT_ID = #{tenantId,jdbcType=DECIMAL}
      </if>
      <if test="createDate != null" >
         and CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="changeDate != null" >
         and CHANGE_DATE = #{changeDate,jdbcType=TIMESTAMP}
      </if>
      <if test="creatorId != null" >
         and CREATOR_ID = #{creatorId,jdbcType=DECIMAL}
      </if>
      <if test="delFlag != null" >
         and DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CATEGORY_GRANT_ID, CATEGORY_ID, OBJ_TYPE, OPERATES, GROUP_ID,
    TENANT_ID, CREATE_DATE, CHANGE_DATE, CREATOR_ID, DEL_FLAG
  </sql>
  <select id="selectBySelective" resultMap="BaseResultMap" parameterType="com.newland.paas.paasdatamodule.sysmgrdatamodule.model.SysCategoryGrant" >
    select
    distinct
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SYS_CATEGORY_GRANT
    <include refid="Where_Clause" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_CATEGORY_GRANT
    where CATEGORY_GRANT_ID = #{categoryGrantId,jdbcType=DECIMAL}
    <include refid="And_Del_Flag_0" />
  </select>
  <select id="selectByCategoryIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from SYS_CATEGORY_GRANT
    where CATEGORY_ID in
    <foreach collection="categoryIds" index="index" item="categoryId" open="(" close=")" separator=",">
      #{categoryId}
    </foreach>
    <include refid="And_Del_Flag_0" />
  </select>
  <select id="selectGrantedCategoryIds1" resultType="java.lang.Long">
    select distinct
    t1.CATEGORY_ID
    from SYS_CATEGORY_GRANT t1 inner join SYS_CATEGORY t2
    on t1.CATEGORY_ID = t2.SYS_CATEGORY_ID
    <if test="managedCategoryIds != null and managedCategoryIds.size > 0">
      and t1.CATEGORY_ID not in
      <foreach collection="managedCategoryIds" index="index" item="categoryId" open="(" close=")" separator=",">
        #{categoryId}
      </foreach>
    </if>
    and t1.GROUP_ID in
    <foreach collection="managedGroupIds" index="index" item="groupId" open="(" close=")" separator=",">
      #{groupId}
    </foreach>
    <if test="likeCategoryName != null" >
      and t2.SYS_CATEGORY_NAME like concat('%', concat(#{likeCategoryName,jdbcType=VARCHAR}, '%'))
    </if>
    and t1.DEL_FLAG = 0 and t2.DEL_FLAG = 0
  </select>
  <select id="selectGrantedCategoryIds2" resultType="java.lang.Long">
    select distinct
    t1.CATEGORY_ID
    from SYS_CATEGORY_GRANT t1 inner join SYS_CATEGORY t2
    on t1.CATEGORY_ID = t2.SYS_CATEGORY_ID
    <if test="inCategoryIds != null and inCategoryIds.size > 0">
      and t1.CATEGORY_ID in
      <foreach collection="inCategoryIds" index="index" item="categoryId" open="(" close=")" separator=",">
        #{categoryId}
      </foreach>
    </if>
    <if test="notInCategoryIds != null and notInCategoryIds.size > 0">
      and t1.CATEGORY_ID not in
      <foreach collection="notInCategoryIds" index="index" item="categoryId" open="(" close=")" separator=",">
        #{categoryId}
      </foreach>
    </if>
    <if test="inGroupIds != null and inGroupIds.size > 0">
    and t1.GROUP_ID in
      <foreach collection="inGroupIds" index="index" item="groupId" open="(" close=")" separator=",">
        #{groupId}
      </foreach>
    </if>
    <if test="likeCategoryName != null" >
      and t2.SYS_CATEGORY_NAME like concat('%', concat(#{likeCategoryName,jdbcType=VARCHAR}, '%'))
    </if>
    <if test="objType != null and objType != ''">
      and t1.OBJ_Type = #{objType,jdbcType=VARCHAR}
    </if>
    and t1.DEL_FLAG = 0 and t2.DEL_FLAG = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update SYS_CATEGORY_GRANT
    set DEL_FLAG = 1
    where CATEGORY_GRANT_ID = #{categoryGrantId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteBySelective" parameterType="com.newland.paas.paasdatamodule.sysmgrdatamodule.model.SysCategoryGrant" >
    update SYS_CATEGORY_GRANT
    set DEL_FLAG = 1
    <include refid="Where_Clause" />
  </delete>
  <insert id="insert" parameterType="com.newland.paas.paasdatamodule.sysmgrdatamodule.model.SysCategoryGrant" >
    <selectKey keyProperty="categoryGrantId" order="BEFORE" resultType="java.lang.Long">
      select SEQ_SYS_CATEGORY_GRANT.nextval as categoryGrantId from sys.dual
    </selectKey>
    insert into SYS_CATEGORY_GRANT (CATEGORY_GRANT_ID, CATEGORY_ID, OBJ_TYPE, OPERATES, GROUP_ID,
      TENANT_ID, CREATE_DATE, CHANGE_DATE, CREATOR_ID, DEL_FLAG
      )
    values (#{categoryGrantId,jdbcType=DECIMAL},#{categoryId,jdbcType=DECIMAL}, #{objType,jdbcType=VARCHAR}, #{operates,jdbcType=VARCHAR},
      #{groupId,jdbcType=DECIMAL}, #{tenantId,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP},
      #{changeDate,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=DECIMAL}, #{delFlag,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.newland.paas.paasdatamodule.sysmgrdatamodule.model.SysCategoryGrant" >
    <selectKey keyProperty="categoryGrantId" order="BEFORE" resultType="java.lang.Long">
      select SEQ_SYS_CATEGORY_GRANT.nextval as categoryGrantId from sys.dual
    </selectKey>
    insert into SYS_CATEGORY_GRANT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryGrantId != null" >
        CATEGORY_GRANT_ID,
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID,
      </if>
      <if test="objType != null" >
        OBJ_TYPE,
      </if>
      <if test="operates != null" >
        OPERATES,
      </if>
      <if test="groupId != null" >
        GROUP_ID,
      </if>
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="changeDate != null" >
        CHANGE_DATE,
      </if>
      <if test="creatorId != null" >
        CREATOR_ID,
      </if>
      <if test="delFlag != null" >
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryGrantId != null" >
        #{categoryGrantId,jdbcType=DECIMAL},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=DECIMAL},
      </if>
      <if test="objType != null" >
        #{objType,jdbcType=VARCHAR},
      </if>
      <if test="operates != null" >
        #{operates,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=DECIMAL},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="changeDate != null" >
        #{changeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=DECIMAL},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countBySelective" parameterType="com.newland.paas.paasdatamodule.sysmgrdatamodule.model.SysCategoryGrant" resultType="java.lang.Integer" >
    select count(*) from SYS_CATEGORY_GRANT
    <include refid="Where_Clause" />
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.newland.paas.paasdatamodule.sysmgrdatamodule.model.SysCategoryGrant" >
    update SYS_CATEGORY_GRANT
    <set >
      <if test="categoryId != null" >
        and CATEGORY_ID = #{categoryId,jdbcType=DECIMAL}
      </if>
      <if test="objType != null" >
        and OBJ_TYPE = #{objType,jdbcType=VARCHAR}
      </if>
      <if test="operates != null" >
        and OPERATES = #{operates,jdbcType=VARCHAR}
      </if>
      <if test="groupId != null" >
        and GROUP_ID = #{groupId,jdbcType=DECIMAL}
      </if>
      <if test="tenantId != null" >
        and TENANT_ID = #{tenantId,jdbcType=DECIMAL}
      </if>
      <if test="createDate != null" >
        and CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="changeDate != null" >
        and CHANGE_DATE = #{changeDate,jdbcType=TIMESTAMP}
      </if>
      <if test="creatorId != null" >
        and CREATOR_ID = #{creatorId,jdbcType=DECIMAL}
      </if>
      <if test="delFlag != null" >
        and DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
      </if>
    </set>
    where CATEGORY_GRANT_ID = #{categoryGrantId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newland.paas.paasdatamodule.sysmgrdatamodule.model.SysCategoryGrant" >
    update SYS_CATEGORY_GRANT
    set CATEGORY_ID = #{categoryId,jdbcType=DECIMAL},
      OBJ_TYPE = #{objType,jdbcType=VARCHAR},
      OPERATES = #{operates,jdbcType=VARCHAR},
      GROUP_ID = #{groupId,jdbcType=DECIMAL},
      TENANT_ID = #{tenantId,jdbcType=DECIMAL},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CHANGE_DATE = #{changeDate,jdbcType=TIMESTAMP},
      CREATOR_ID = #{creatorId,jdbcType=DECIMAL},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    where CATEGORY_GRANT_ID = #{categoryGrantId,jdbcType=DECIMAL}
  </update>
</mapper>