<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newland.paas.paasdatamodule.sysmgrdatamodule.dao.SysEnvConfigMapper" >
  <resultMap id="BaseResultMap" type="com.newland.paas.paasdatamodule.sysmgrdatamodule.model.SysEnvConfig" >
    <id column="ENV_CONFIG_ID" property="envConfigId" jdbcType="DECIMAL" />
    <result column="ENV_CONFIG_KEY" property="envConfigKey" jdbcType="VARCHAR" />
    <result column="ENV_CONFIG_VALUE" property="envConfigValue" jdbcType="VARCHAR" />
    <result column="TENANT_ID" property="tenantId" jdbcType="DECIMAL" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="CHANGE_DATE" property="changeDate" jdbcType="TIMESTAMP" />
    <result column="CREATOR_ID" property="creatorId" jdbcType="DECIMAL" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Where_Clause" >
    <where >
      and DEL_FLAG = 0
      <if test="envConfigKey != null" >
         and ENV_CONFIG_KEY = #{envConfigKey,jdbcType=VARCHAR}
      </if>
      <if test="envConfigValue != null" >
         and ENV_CONFIG_VALUE = #{envConfigValue,jdbcType=VARCHAR}
      </if>
      <if test="tenantId != null" >
         and TENANT_ID = #{tenantId,jdbcType=DECIMAL}
      </if>
      <if test="createDate != null" >
         and CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="changeDate != null" >
         and CHANGE_DATE = #{changeDate,jdbcType=TIMESTAMP}
      </if>
      <if test="creatorId != null" >
         and CREATOR_ID = #{creatorId,jdbcType=DECIMAL}
      </if>
      <if test="delFlag != null" >
         and DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ENV_CONFIG_ID, ENV_CONFIG_KEY, ENV_CONFIG_VALUE, TENANT_ID, CREATE_DATE, CHANGE_DATE, 
    CREATOR_ID, DEL_FLAG
  </sql>
  <select id="selectBySelective" resultMap="BaseResultMap" parameterType="com.newland.paas.paasdatamodule.sysmgrdatamodule.model.SysEnvConfig" >
    select
    distinct
    <include refid="Base_Column_List" />
    from SYS_ENV_CONFIG
    <include refid="Where_Clause" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ENV_CONFIG
    where ENV_CONFIG_ID = #{envConfigId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_ENV_CONFIG
    where ENV_CONFIG_ID = #{envConfigId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteBySelective" parameterType="com.newland.paas.paasdatamodule.sysmgrdatamodule.model.SysEnvConfig" >
    delete from SYS_ENV_CONFIG
    <include refid="Where_Clause" />
  </delete>
  <insert id="insert" parameterType="com.newland.paas.paasdatamodule.sysmgrdatamodule.model.SysEnvConfig" >
    insert into SYS_ENV_CONFIG (ENV_CONFIG_ID, ENV_CONFIG_KEY, ENV_CONFIG_VALUE, 
      TENANT_ID, CREATE_DATE, CHANGE_DATE, 
      CREATOR_ID, DEL_FLAG)
    values (#{envConfigId,jdbcType=DECIMAL}, #{envConfigKey,jdbcType=VARCHAR}, #{envConfigValue,jdbcType=VARCHAR}, 
      #{tenantId,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP}, #{changeDate,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=DECIMAL}, #{delFlag,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.newland.paas.paasdatamodule.sysmgrdatamodule.model.SysEnvConfig" >
    insert into SYS_ENV_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="envConfigId != null" >
        ENV_CONFIG_ID,
      </if>
      <if test="envConfigKey != null" >
        ENV_CONFIG_KEY,
      </if>
      <if test="envConfigValue != null" >
        ENV_CONFIG_VALUE,
      </if>
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="changeDate != null" >
        CHANGE_DATE,
      </if>
      <if test="creatorId != null" >
        CREATOR_ID,
      </if>
      <if test="delFlag != null" >
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="envConfigId != null" >
        #{envConfigId,jdbcType=DECIMAL},
      </if>
      <if test="envConfigKey != null" >
        #{envConfigKey,jdbcType=VARCHAR},
      </if>
      <if test="envConfigValue != null" >
        #{envConfigValue,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="changeDate != null" >
        #{changeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=DECIMAL},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countBySelective" parameterType="com.newland.paas.paasdatamodule.sysmgrdatamodule.model.SysEnvConfig" resultType="java.lang.Integer" >
    select count(*) from SYS_ENV_CONFIG
    <include refid="Where_Clause" />
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.newland.paas.paasdatamodule.sysmgrdatamodule.model.SysEnvConfig" >
    update SYS_ENV_CONFIG
    <set >
      <if test="envConfigKey != null" >
        ENV_CONFIG_KEY = #{envConfigKey,jdbcType=VARCHAR},
      </if>
      <if test="envConfigValue != null" >
        ENV_CONFIG_VALUE = #{envConfigValue,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        TENANT_ID = #{tenantId,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="changeDate != null" >
        CHANGE_DATE = #{changeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        CREATOR_ID = #{creatorId,jdbcType=DECIMAL},
      </if>
      <if test="delFlag != null" >
        DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      </if>
    </set>
    where ENV_CONFIG_ID = #{envConfigId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newland.paas.paasdatamodule.sysmgrdatamodule.model.SysEnvConfig" >
    update SYS_ENV_CONFIG
    set ENV_CONFIG_KEY = #{envConfigKey,jdbcType=VARCHAR},
      ENV_CONFIG_VALUE = #{envConfigValue,jdbcType=VARCHAR},
      TENANT_ID = #{tenantId,jdbcType=DECIMAL},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CHANGE_DATE = #{changeDate,jdbcType=TIMESTAMP},
      CREATOR_ID = #{creatorId,jdbcType=DECIMAL},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    where ENV_CONFIG_ID = #{envConfigId,jdbcType=DECIMAL}
  </update>
</mapper>