<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newland.paas.paasdatamodule.configcenterdatamodule.dao.ConfigPropertiesMapper" >
  <resultMap id="BaseResultMap" type="com.newland.paas.paasdatamodule.configcenterdatamodule.model.ConfigProperties" >
    <result column="CONFIG_ID" property="configId" jdbcType="DECIMAL" />
    <result column="CONFIG_KEY" property="configKey" jdbcType="VARCHAR" />
    <result column="CONFIG_VALUE" property="configValue" jdbcType="VARCHAR" />
    <result column="APPLICATION" property="application" jdbcType="VARCHAR" />
    <result column="PROFILE" property="profile" jdbcType="VARCHAR" />
    <result column="LABEL" property="label" jdbcType="VARCHAR" />
    <result column="CONFIG_DESC" property="configDesc" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="CHANGE_DATE" property="changeDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Where_Clause" >
    <where >
      <if test="configKey != null" >
         and CONFIG_KEY = #{configKey,jdbcType=VARCHAR}
      </if>
      <if test="configValue != null" >
         and CONFIG_VALUE = #{configValue,jdbcType=VARCHAR}
      </if>
      <if test="application != null" >
         and APPLICATION = #{application,jdbcType=VARCHAR}
      </if>
      <if test="profile != null" >
         and PROFILE = #{profile,jdbcType=VARCHAR}
      </if>
      <if test="label != null" >
         and LABEL = #{label,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CONFIG_ID,CONFIG_KEY, CONFIG_VALUE, APPLICATION, PROFILE, LABEL, CONFIG_DESC, CREATE_DATE, CHANGE_DATE
  </sql>
  <select id="selectBySelective" resultMap="BaseResultMap" parameterType="com.newland.paas.paasdatamodule.configcenterdatamodule.model.ConfigProperties" >
    select
    distinct
    <include refid="Base_Column_List" />
    from CONFIG_PROPERTIES
    <include refid="Where_Clause" />
  </select>
  <delete id="deleteBySelective" parameterType="com.newland.paas.paasdatamodule.configcenterdatamodule.model.ConfigProperties" >
    delete from CONFIG_PROPERTIES
    <include refid="Where_Clause" />
  </delete>
  <insert id="insert" parameterType="com.newland.paas.paasdatamodule.configcenterdatamodule.model.ConfigProperties" >
    <selectKey keyProperty="configId" order="BEFORE" resultType="java.lang.Long">
      SELECT CONFIG_PROPERTIES_SEQ.nextval FROM dual
    </selectKey>
    insert into CONFIG_PROPERTIES (CONFIG_ID,CONFIG_KEY, CONFIG_VALUE, APPLICATION, PROFILE, LABEL, CONFIG_DESC, CREATE_DATE, CHANGE_DATE)
    values ( #{configId,jdbcType=INTEGER}, #{configKey,jdbcType=VARCHAR}, #{configValue,jdbcType=VARCHAR}, #{application,jdbcType=VARCHAR},
    #{profile,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR}, #{configDesc,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
    #{changeDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.newland.paas.paasdatamodule.configcenterdatamodule.model.ConfigProperties" >
    <selectKey keyProperty="configId" order="BEFORE" resultType="java.lang.Long">
      SELECT CONFIG_PROPERTIES_SEQ.nextval FROM dual
    </selectKey>
    insert into CONFIG_PROPERTIES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="configId != null">
        CONFIG_ID,
      </if>
      <if test="configKey != null" >
        CONFIG_KEY,
      </if>
      <if test="configValue != null" >
        CONFIG_VALUE,
      </if>
      <if test="application != null" >
        APPLICATION,
      </if>
      <if test="profile != null" >
        PROFILE,
      </if>
      <if test="label != null" >
        LABEL,
      </if>
      <if test="configDesc != null" >
        CONFIG_DESC,
      </if>
      <if test="createDate != null">
         CREATE_DATE,
      </if>
      <if test="changeDate != null">
         CHANGE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="configId != null" >
        #{configId,jdbcType=INTEGER},
      </if>
      <if test="configKey != null" >
        #{configKey,jdbcType=VARCHAR},
      </if>
      <if test="configValue != null" >
        #{configValue,jdbcType=VARCHAR},
      </if>
      <if test="application != null" >
        #{application,jdbcType=VARCHAR},
      </if>
      <if test="profile != null" >
        #{profile,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="configDesc != null" >
        #{configDesc,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
         #{createDate,jdbcType=TIMESTAMP},
      </if>
       <if test="changeDate != null" >
        #{changeDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateById" parameterType="com.newland.paas.paasdatamodule.configcenterdatamodule.model.ConfigProperties" >
    update CONFIG_PROPERTIES
    <set>
      <if test="configKey != null" >
        CONFIG_KEY = #{configKey,jdbcType=VARCHAR},
      </if>
      <if test="configValue != null" >
        CONFIG_VALUE = #{configValue,jdbcType=VARCHAR},
      </if>
      <if test="application != null" >
        APPLICATION = #{application,jdbcType=VARCHAR},
      </if>
      <if test="profile != null" >
        PROFILE = #{profile,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        LABEL = #{label,jdbcType=VARCHAR},
      </if>
      <if test="configDesc != null" >
        CONFIG_DESC = #{configDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where CONFIG_ID = #{configId,jdbcType=DECIMAL}
  </update>

</mapper>